[Unit]
Description=Miserable Genome Neo4j Client
ConditionPathExists=/usr/bin/mewo4j/mewo4j
After=network.target
 
[Service]
Type=simple
User=mewo4j
Group=mewo4j
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
RestartLimitIntervalSec=60

WorkingDirectory=/usr/bin/mewo4j
ExecStart=/usr/bin/mewo4j/mewo4j

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/mewo4j
ExecStartPre=/bin/chown syslog:adm /var/log/mewo4j
ExecStartPre=/bin/chmod 755 /var/log/mewo4j
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mewo4j
 
[Install]
WantedBy=multi-user.target